<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Email d'update</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
            color: #333;
            line-height: 1.5;
            background-color: #f4f4f4;
            padding: 20px;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        h1 {
            font-size: 28px;
            font-weight: bold;
            margin: 0;
        }
        p {
            margin: 20px 0;
        }
        .code {
            font-size: 24px;
            font-weight: bold;
            color: #007bff;
        }
        .button {
            display: inline-block;
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            margin-top: 20px;
        }
        .button:hover {
            background-color: #0056b3;
        }
        .footer {
            margin-top: 20px;
            font-size: 14px;
            color: #777;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Email de Mise a Jour</h1>
        <p>Bonjour ,</p>
        <p>Vous avez demandé la vérification de votre compte sur notre site IsItApp. Votre code de vérification est : <span class="code">{{ evenement }}</span></p>
        <p>Pour Verifier la Mise a Jour, veuillez cliquer sur le bouton ci-dessous :</p>
        <p>Merci pour votre confiance !</p>
        <div class="footer">
            <p>Cet email a été envoyé automatiquement. Merci de ne pas y répondre.</p>
            <p>© IsItApp 2023</p>
        </div>
    </div>
</body>
</html>