{# templates/quiz/result.html.twig #}


{% block body %}
    <h1>Résultats du quiz</h1>

    <p>Vous avez répondu correctement à {{ correctAnswers }} sur {{ totalQuestions }} questions.</p>
{% endblock %}
